.App {
  text-align: center;
}

.App-link {
  color: #1d3137;
  padding: 5px;
}
.App-add {
  position: relative;
  padding-left: 25%;
}

li {
  text-align: left;
  line-height: 2;
  list-style-type: "🏀";
}

.edit-button {
  color: #1d3137;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-40%, -40%);
}

form {
  background-color: rgb(179, 207, 231);
}

h2 {
  color: #0a3184;
  margin-top: 10%;
  margin-bottom: 2%;
}
